{% extends "base.html" %}
{% block content %}
<div class="container">

  <div class="row">
    <div class="span10 columns offset2">
      <h1>Task</h1>

      <table id="task_list">
        <tr>
          <th>Name</th>
          <th>Finished?</th>
          <th></th>
          <th></th>
        </tr>
        
        <tr>
          <td width="250px">{{task.name}}</td>
          <td width="150px">{{task.finished}}</td>
          <td>
			<form method="GET" action="/{{task.id}}/">
				{% csrf_token %}
				<input type="submit" value="Complete" class="btn primary">
			</form>
          </td>
          <td>
			<form method="POST" action="/{{task.id}}/">
				{% csrf_token %}
				<input type="submit" value="Delete" class="btn danger">
			</form>
          </td>
        </tr>

      </table>
      <br />
    </div>
  </div>
</div>

{% endblock %}